<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BHermanos.Zonificacion.DataAccess.Properties.Settings.BHermanosConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BHermanos;Persist Security Info=True;User ID=usrZonificacion;Password=usrZonificacion"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>