html, body, form {
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#wrapper {
    width: 100%;
    height:100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#first {
    width: 180px;
    height:100%;
    float:left; /* add this */
}

#second {
    margin-right:0px;
    height:100%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.MenuOption {
     cursor:pointer;
     border-bottom: 1px solid #0088CC;
}

.BackGroudPopUp
{
    position:fixed;
    background-color:Black;    
    top:0px;
    left:0px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

element.style {
}

.btn-primary, .pagination > .active > a {
    border-color: #0088cc !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0088cc;
    border-color: #0088cc;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #ccc;
    border-color: #bfbfbf;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

    button, html input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left-column, .right-column{
  float:left;
}

.left-column {
    width: 75%;
    height:100%;
}

.right-column {
    width: 25%;
    height:100%;
}

#ContentDiv {
    height:100%;
    padding:2px;
}

#HeaderDiv {
    height:50px;
    padding:2px;
}

#InfoDiv {
    height:100%;
    padding:2px;
}

#TotalDiv {
    height:25%;
    padding:2px;
}

#MapDiv {
    height:70%;
    padding:2px;
}